{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>{{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
        {% if help|default %}
            <div class="alert alert-info">{{ help }}</div>
        {% endif %}
    {%- endif %}
{%- endblock form_errors %}