html, body, .container, .row {
 height: 100%;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.container-fluid {
    width: 100%;
}

div {
    display: inline-block;
}

pre {
    font-size: 16px;
    color: white;
}

tr:nth-child(even) {
    background-color: #000000;
    color: white;
}

.form-control, .control-label {
    display: inline-block;
}

label { margin-top: 10px; }

td {
    padding: 10px;
}

h1 { display: inline-block; }

.nav-button {
    float:right;
}

.sidebar-nav {
    padding: 30px;
    height: 100%;
    color: white;
    background: black;
}

.col-titles {
    width: 100%;
}

.col-md-3 { padding: 0; }

.auto-overflow {
    overflow: auto;
}

.container-fluid {
    padding: 0;
}

.image-title-block {
    margin-top: 20px;
    width: inherit;
    text-align: center;
}

.flash-wrapper {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.generate-button {
    background-color: #dfe219;
    color: black;
    border: none;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    margin-bottom: 30px;
}

.generate-button:hover {
    background-color: darkred;
}

.generate-button:focus {
    border: none;
}

.button-holder {
    display: block;
    width: 100%;
}

.button-holder-center {
    text-align: center;
}

.last-input, .control-label {
    margin-left: 10%;
}

.clear { clear: both; }

#shotAccuracyHeatmap {
    background-image: url(../images/shotAccuracyTemplate.png);
    width: 893px;
    height: 604px;
}

#pointEfficiencyHeatmap {
    background-image: url(../images/pointEfficiencyTemplate.png);
    width: 893px;
    height: 604px;
}

#shotPositionsImg {
    background-image: url(../images/floor_positions.png);
    width: 630px;
    height: 443px;
}

.visible-image {
    overflow: visible !important;
}

.export-image-title {
    padding-top: 15px;
}